{% for entry in postgresql_hba_entries %}
{{ entry.type }} {{ entry.database }} {{ entry.user }}{% if entry.address | default('') %} {{ entry.address }}{% endif %} {{ entry.auth_method }}
{% endfor %}
